<h1>Dice Roll</h1>
<form action="/process_roll"> 
  <label for="numOfDice">Number of dice to roll?</label>
  <input type="text" id="numOfDice" name ="dice">
  <label for="numOfSides">How many sides per die?</label>
  <input type="text" id="numOfSides" name="sides">
  <button>Roll!</button>
</form>
